.job {
    padding: 40px 0;
    background: white;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        align-items: center;
    }

    &__img {
        width: 100%;
        height: 350px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        max-width: 400px;
    }

    &__name {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.24px;
        color: #F77321;
    }

    &__title {
        padding: 30px 0;
        font-size: 58px;

        font-weight: 500;
        line-height: 64px;
        letter-spacing: -1px;
        color: #1D293F;
    }

    &__desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;

        color: #7C8087;
    }

    &__form {
        height: 50px;
        margin: 20px 0;
        padding-left: 15px;
        display: flex;
        border: 1px solid #ddd;
        justify-content: space-between;
    }

    &__input {
        display: flex;
        align-items: center;
        flex: 1;

        svg {
            font-size: 20px;
            color: #8C97AC
        }

        input {
            flex: 1;
            padding-left: 10px;
            height: 100%;
            outline: none;
            border: none;
            font-size: 18px;
        }
    }

    &__btn {
        background: #22B0FC;
        color: white;
        font-size: 17px;
        border: 1px solid #22B0FC;
        transition: .4s;
        outline: none;
        padding: 10px 20px;

        &:hover {
            color: #22B0FC;
            background: white;
        }
    }

    @media (max-width:830px) {
        &__container {
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 20px;
        }

        &__info {
            max-width: 100%;
        }
    }

    @media (max-width:550px) {

        &__title {
            padding: 15px 0;
            font-size: 35px;
            line-height: 45px;
        }

        &__form {
            height: 50px;
            margin: 20px 0;
            padding-left: 15px;
            display: flex;
            border: 1px solid #ddd;
            justify-content: space-between;
        }

        &__input {
            display: flex;
            align-items: center;
            flex: 1;

            svg {
                font-size: 20px;
                color: #8C97AC
            }

            input {
                flex: 1;
                padding-left: 10px;
                height: 100%;
                outline: none;
                border: none;
                font-size: 18px;
            }
        }

        &__btn {
            background: #22B0FC;
            color: white;
            font-size: 17px;
            border: 1px solid #22B0FC;
            transition: .4s;
            outline: none;
            padding: 10px 20px;

            &:hover {
                color: #22B0FC;
                background: white;
            }
        }
    }

    @media (max-width:480px) {

        &__form {
            height: 40px;
            margin: 15px 0;
            padding-left: 8px;
            width: 100%;
        }

        &__input {
            svg {
                font-size: 18px;
            }

            input {
                width: 100%;
                padding-left: 8px;
                font-size: 16px;
            }
        }

        &__btn {
            font-size: 16px;
            padding: 5px 14px;

        }
    }

    @media (max-width:300px) {
        &__title {
            padding: 15px 0;
            font-size: 24px;
            line-height: 35px;
        }

        &__form {
            height: 35px;
        }

        &__input {
            svg {
                font-size: 17px;
            }

            input {
                width: 100%;
                font-size: 15px;
            }
        }

        &__btn {
            font-size: 12px;
            padding: 3px 10px;

        }
    }
}